<p> A strong password contains at least 8 characters, a mixture both uppercase and 
lowercase letters, a mixture of letters and numbers, and include at least one 
special character (eg. !, @, #, ?) </p>